# fly.toml app configuration file generated for meetingnotes on 2025-04-13T21:52:13+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'meetingnotes'
primary_region = 'nrt'

[build]

[env]
  PORT = '8080'

[[mounts]]
  source = 'meetingnotes_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
